services:
  - type: web
    name: ProJobs-Web
    env: python
    plan: free
    region: oregon
    branch: main
    buildCommand: ./build.sh
    startCommand: gunicorn jobapplication.wsgi:application --bind 0.0.0.0:$PORT --workers 3 --log-file -
    autoDeploy: true
    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        value: ""
      - key: ALLOWED_HOSTS
        value: ""

databases:
  - name: job-db
    plan: free
    region: oregon
